<p id="notice"><%= notice %></p>
<p>投稿ユーザ: <%= @blog.user.name %></p>
<p>タイトル: <%= @blog.title %></p>
<p>内容: <%= @blog.content %></p>
<% if @blog.image.present? %>
  <p>画像: <%= image_tag @blog.image.url %></p>
<% end %>
<p>---コメント---</p>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: {comments: @comments, blog: @blog} %>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
<%= link_to '戻る', blogs_path %>