<p id="notice"><%= notice %></p>
<p>投稿ユーザ: <%= @blog.user.name %></p>
<p>タイトル: <%= @blog.title %></p>
<p>内容: <%= @blog.content %></p>
<% if @blog.image.present? %>
  <p>画像: <%= image_tag @blog.image.url %></p>
<% end %>
<br>

<i class="fas fa-users fa-2x"></i>
<i class="far fa-comments fa-2x faa-bounce animated"></i>
<i class="fas fa-users fa-2x"></i>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: {comments: @comments, blog: @blog} %>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
<%= link_to '戻る', blogs_path %>