<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
        <p><%= "#{comment.user.name}" + "さんのコメント" %></p>
        <p><%= comment.content %></p>
        <% if user_signed_in? && comment.user_id == current_user.id %>
          <%= link_to edit_blog_comment_path(blog, comment),remote: true,
                                             id: "edit_comment", data: { confirm: "編集しますか？" } do %>
            <i class="fas fa-user-edit"></i>
          <% end %>
          <%= link_to blog_comment_path(comment.blog_id, comment.id), method: :delete, remote: true,
                                       id: "delete_comment", data: { confirm: "本当に削除しますか?"} do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>