<!DOCTYPE html>
<html>
  <head>
    <title>TidalIsland</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  </head>

  <body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/blogs">Tidal Island</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>    
        <a class="nav-link"><%= link_to "ブログ一覧", blogs_path %></a>
        <a class="nav-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a>
      <% else %>
        <a class="nav-link"><%= link_to "新規登録", new_user_registration_path %></a>
        <a class="nav-link"><%= link_to "ログイン", new_user_session_path %></a>
      <% end %>
    </div>
  </nav>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
     <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <div class="container"><%= yield %></div>
  </body>
</html>
